<h1>Search History</h1>
<ul>
    {% for search in searches %}
        <li>{{ search.city }}: {{ search.temperature }}°C - {{ search.description }} on {{ search.search_date }}</li>
    {% endfor %}
</ul>
