<h1>Weather App</h1>
<form method="POST">
    {% csrf_token %}
    <input type="text" name="city" placeholder="Enter city name">
    <button type="submit">Get Weather</button>
</form>
{% if weather %}
    <h2>Weather in {{ weather.city }}:</h2>
    <p>Temperature: {{ weather.temperature }}°C</p>
    <p>Description: {{ weather.description }}</p>
{% endif %}
